Redirect "/chartes/grand-public.html" "https://blog.entourage.social/charte-ethique-grand-public/"
Redirect "/chartes/pro.html" "https://blog.entourage.social/charte-ethique-maraudeur"
Redirect "/cgu/index.html" "http://bit.ly/2ktRF6A"

RewriteEngine On

RewriteCond %{HTTP:X-Forwarded-Proto} =http
RewriteCond %{HTTP:X-Forwarded-Server} !localhost
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{REQUEST_URI} /entourages/([a-z0-9]{8}(-[a-z0-9]{4}){3}-[a-z0-9]{12}|e[a-zA-Z0-9_-]{11})
RewriteRule ^ / [P]
