extends base

block content
  div.center-block(style='max-width:600px;')
    p.lead Formulaire de contact
    form.form-horizontal(method='post', action='//social.us10.list-manage.com/subscribe/post?u=2351906455adf1c4810c3dbf2&amp;id=454ec3ded6')
      .form-group
        label.col-sm-4.control-label Votre nom :
        .col-sm-8
          input.form-control(name="NAMES", type="text", placeholder="Saisir votre nom")

      .form-group
        label.col-sm-4.control-label Votre email :
        .col-sm-8
          input.form-control(name="EMAIL", type="email", placeholder="Saisir votre email")

      .form-group
        label.col-sm-4.control-label Votre message :
        .col-sm-8
          textarea.form-control(name="MESSAGE", rows=8, placeholder="Saisir votre message")

      .form-group
        .col-sm-12.text-right
          button.btn.btn-primary.btn-lg(type='submit') >

block footer
  p.text-muted
   a(href="/") entourage
