extends base

append javascripts
  script.
    encounter="#{encounter}";
  script(type='text/javascript').
    var encounters = JSON.parse(!{JSON.stringify(encounters)});
  script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA7lrduxzdLGCSCWZgj174UQj-iKAoGdNg')
  script(type='text/javascript', src='/javascripts/entourage-maps.js')

block content
  .row
    .col-md-12
      #map-canvas.full-height.full-width
  .row#subscribe
    .col-md-12
      p FORM
  .row#about
    .col-md-12
      p DESC
