extends base

append javascripts
  script.
    encounter="#{encounter}";
  script(type='text/javascript').
    var encounters = JSON.parse(!{JSON.stringify(encounters)});
  script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA7lrduxzdLGCSCWZgj174UQj-iKAoGdNg')
  script(type='text/javascript', src='/javascripts/entourage-maps.js')

block before_content
  .row
    .col-md-12
      #map-canvas.full-height.full-width

block after_content
  .row#about
    .col-md-8.col-md-offset-2
      h2.text-center Projet Entourage
      p.text-justify We need your Help !
