extends base

block content
  h1= title
  p Bienvenue sur le #{title}
  p Retrouvez-nous sur 
    a(href='https://www.facebook.com/EntourageReseauCivique') Facebook 
    | et aussi sur 
    a(href='https://twitter.com/R_Entour') Twitter
