extends layout

block content
  h1= title
  p Bienvenue sur le #{title}
  d Retrouvez-nous sur 
    a(href='https://www.facebook.com/EntourageReseauCivique') Facebook 
  d et aussi sur 
    a(href='https://twitter.com/R_Entour') Twitter
