/* extend tools */
.p-t-s {
  padding-top: 10px;
}

.p-b-s {
  padding-bottom: 10px;
}

.orange {
  color: #EF662F;
}

a,
a:hover,
a:active,
a:visited {
  color: #EF662F;
}

.btn-primary,
.btn-primary:visited,
.btn-primary:focus,
.btn-primary:active {
  background-color: #EF662F;
  border-color: #EF662F;
  color: #fff;
}

.btn-primary:hover {
  background-color: #F38652;
  border-color: #F38652;
  color: #fff;
}

.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
  background-color: #F38652;
  border-color: #F38652;
}



/* nav scroll */
#navbar {
  position:fixed;
  top:0px;
  width:100%; 
  background-color: white;
  z-index:9999;
  display: none;
  border-bottom: solid 1px #e4e4e4;
}

#navbar a {
  color: #2D3238;
}

.navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* bloquote */
blockquote.color {
  color: #EF662F;
}

/* header *//* video */
.block-fill-height-video {
    display: table;
    width: 100%;
    height: 70vh;
}

.app-header {
  min-height: 550px;
}

/* header *//* logo */
.logo {
  width: 50px;
}

/* navbar */
.app-navbar {
  font-weight: 500;
  letter-spacing: .05em;
  position: absolute;
}

/* code block */
.app-color-block {
  background-color: #333;
  overflow: hidden;
}

.app-color-block-orange {
  background-color: #EF662F;
}

/* pull quote block */
.app-high-praise img {
  width: 100%;
}

/* brand ribbon block */
.app-ribbon {
  background: #FFF;
}
.app-ribbon-color {
  background: #EF662F;
}
.app-ribbon .container {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: -30px;
}
.app-ribbon img {
  margin: 0 10px 30px;
}

.app-ribbon-color h3 {
  color: #FFFFFF;
}

/* marketing grid block */
.app-block-marketing-grid .container {
  margin-bottom: -60px;
}
.app-marketing-grid .m-b {
  margin-bottom: 10px !important;
}
@media (max-width: 768px) {
  .app-marketing-grid .m-b-lg {
    margin-bottom: 40px !important;
  }
}

/* footer block */
.app-footer {
  font-weight: 300;
  font-size: 14px;
}

.app-footer a {
  color: #fff;
}

/* general block overrides */
@media (max-width: 768px) {
  .block .lead {
    line-height: 1.3;
  }
  .block h3 {
    line-height: 1.15;
  }
}

/* general inverse overrides */
.block-inverse .text-muted {
  color: rgba(255, 255, 255, .7);
}
.block-inverse .block-bg-img {
  background-color: transparent;
}

/* general btn overrides */
.btn-lg {
  font-size: 18px;
}
.block-secondary .btn-lg {
  width: 100%;
}
.btn-lg:not(.btn-block) {
  padding: 12px 50px;
}
@media (min-width: 768px) {
  .btn-lg:not(.btn-block) {
    width: auto;
  }
}

/* ie10+ */
@media (min-width: 768px) {
  .app-align-center {
    display: flex;
    align-items: center;
  }
}

.pull-quote > p {
  font-size: 34px;
}

.asso-label {
  width: 200px;
  height: 200px;
}

@media (min-width: 768px) {
  .block {
      padding: 75px 0;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: normal;
  line-height: 1.65;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.h1.block-title, h1.block-title {
    font-weight: 500;
}

h2,
.block h2,
.block-inverse h2{
  font-size: 46px;
  font-weight: 100;
}

.h3 {
  font-size: 28px;
}

b {
  font-weight: 400;
}

.text-italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.block-lead {
  text-align: left;
}

.pull-quote > cite {
  color: #FFF;
}

.map-entourage {
  width: 460px;
}

.carousel-light .carousel-indicators .active {
    border: 1px solid #EF662F;
}

.nav-bordered > li > a:hover, .nav-bordered > li > a:focus {
    color: #EF662F;
    background-color: transparent;
}

/* mobile */
.nav-bordered.nav-stacked > li.active > a, .nav-bordered.nav-stacked > li.active > a:hover, .nav-bordered.nav-stacked > li.active > a:focus {
    border-left-color: #EF662F;
}

.nav-bordered > li.active > a, .nav-bordered > li.active > a:hover, .nav-bordered > li.active > a:focus {
    font-weight: 700;
    color: #EF662F;
    border-bottom-color: #EF662F;
}

/* font */
@font-face {
    font-family: 'viadeo';
    src:
        url('../fonts/viadeo.ttf?j5jsie') format('truetype'),
        url('../fonts/viadeo.woff?j5jsie') format('woff'),
        url('../fonts/viadeo.svg?j5jsie#viadeo') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'viadeo' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-fa-viadeo:before {
    content: "\e900";
}

/* video hp */

video {
  width: 100%    !important;
  height: auto   !important;
}

@media only screen and (max-width: 960px) {
  #bgvid {
    display:none;
  }
}

.pull-quote {
    max-width: 100%; 
}

.navbar {
  font-size: 16px;
  font-weight: 300;
}

.app-screen {
  max-width: 100%;
  vertical-align: bottom;   
}

.download-app {
  width: 370px;
  margin: 40px auto;
  color: #000;
}

.download-links {
  margin-top: 30px;
  line-height: 25px;
  font-weight: 400;
  line-height: 23px;
}

.download-links a {
  display: inline-block;
  margin-top: 10px;
}

.download-links a:first-child {
  margin-right: 10px;
}

.download-links img {
  width: 150px;
}

.iconlist > li > .icon {
  margin-top: 3px;
}

.col-sm-12 p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.block-inverse .btn-outline:hover:hover,
.block-inverse .btn-outline:visited:visited {
  color: #FFF;
}

.block.product {
  padding-bottom: 0;
}

.vision p strong {
  display: block;
  margin-top: 30px;
  color: #fff;
}

.newsletter {
  background: #5f5f5f;
  padding: 20px 40px;
  display: inline-block;
  border-radius: 3px;
  margin: 0;
  margin-top: 35px;
  width: 640px;
}

.newsletter label {
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  display: block;
  margin-bottom: 15px;
  line-height: 18px;
}

.newsletter input {
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  padding: 6px 12px;
  font-size: 16px;
  color: #333;
}

#newsletter-success {
  margin-top: 10px;
  color: #fff;
  font-weight: 500;
}

.video-youtube {
  width: 640px;
  margin: auto;
}

.video-youtube iframe {
  width: 100%;
  border:none;
}

/* MOBILE VIEW */

@media (max-width: 768px) {
  .navbar-transparent .navbar-toggle {
    position: absolute;
    right: 5px;
  }

  .block {
    padding: 50px 10px;
  }

  .block.product {
    padding: 50px 0;
  }

  .value.block .lead,
  .value.block h4{
      text-align: center;
  }

  .col-sm-12 p {
    width: 100%;
  }

  .download-app {
    width: 100%;
    padding: 0 20px;
    margin: 0;
  }

  .app-color {
    width: 600px;
    margin-bottom: 0;
  }

  .video-youtube,
  .newsletter  {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .app-color {
    padding: 50px;
    font-size: 15px;
  }
}